* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 10px auto;
  width: 100vw;
  height: 100vw;
  text-align: center;
  color: #132743;
}

.bg1 {
  background-color: #9fd3c7;
  width: 75vw;
  height: auto;
  margin: 1.2rem auto;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #e3e3e3;
}

.hero {
  padding-top: 0.64rem;
}

.hero_desc,
.gif1 {
  margin: 0.48rem 0.36rem;
}

.gif1 {
  border-radius: 12px;
}

.recipes_list {
  padding-bottom: 2rem;
  list-style-type: none;
}

.recipes_link {
  text-decoration: none;
}
